<style type="text/css">

.news-detail {
height: 130px;
}

.col-md-9 .owl-wrapper-outer .owl-item {
float: left;
width: 155px !important;
}
.owl-carousel {
margin-left: 1px !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
content: url("https://dewalive.com/assets/img/icon/icon-hongkong.jpg?v=1.1") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
content: url("http://wakatoto.net/assets/img/icon/icon-canadia.jpg?v=1.1") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
content: url("https://dewalive.com/assets/img/icon/icon-SINGAPORE.jpg?v=1.1") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
content: url("http://wakatoto.net/assets/img/icon/icon-israel.jpg?v=1.1") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
content: url("http://wakatoto.net/assets/img/icon/icon-SYDNEY.jpg?v=1.1") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
content: url("http://wakatoto.net/assets/img/icon/icon-siam.jpg?v=1.1") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
content: url("http://wakatoto.net/assets/img/icon/icon-khmer.jpg?v=1.1") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
content: url("http://paustogel88.xyz/assets/img/icon/icon-SAIGONLOTTO.jpg?v=1.1") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
content: url("https://dewalive.com/assets/img/icon/icon-TM.jpg?v=1.1") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-12d.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-24d.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-24DSPIN.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-D6.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-BL.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-GB.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-SD.jpg?v=1.0") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-MP.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-HNT.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(19) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-RL.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(20) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-OG.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(21) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-PD.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(22) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-RW.jpg?v=1.0") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(23) {
content: url("https://dewalive.com/assets/img/icon/newicon/icon-SW.jpg?v=1.0") !important;
}

border: 1px solid transparent !important;
padding: 2px !important;
}

</style>
